.transition {
    transition: 0.4s;
}

header.page-header {
    position: relative;
    text-align: center;
    z-index: 5;
    width: auto;
    font-size: 26pt;
    min-height: 35px;
    padding: 20px;
    color: white;
    background-color: #2e2c3e;
    box-shadow: 0 0 5px 0 #333333;
}

body {
    margin: 0;
    padding: 0;
    min-height: 1000px;
}

footer.page-footer {
    min-height: 50px;
    width: auto;
    padding: 20px;
    font-size: 14px;
    color: hsl(0,0%,99%);
    background-color: hsl(0,0%,12%);
    position: relative;
    clear:both;
}

.mainPage {
    padding: 40px;
    min-height: inherit;

    background: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 1)), linear-gradient(to left, hsla(191, 100%, 91%, 1), hsla(77, 100%, 91%, 1));
}

.settingsPanel {
   /*background-color: #EA2663;*/
    float: left;
    width: 20%;
}
.sortViewsContainer {
    /*background-color: #F9D7FF;*/
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    float: left;
    width: 60%;
}
.sortButton {
    display: inline-block;
    margin: 0 40px 0 40px;
    padding: 0px 20px 0px 20px;
    border: solid #839192 4px;
    border-radius: 20%;
    background-color: #FAFAFA;
}
.sortButton:hover {
    background-color: hsla(142, 81%, 83%, 1);
}
.buttonContainer {
    margin-top: 30px;
    /*background-color: #842844;*/
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    float: left;
    width: 100%;
}

.button {
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    display: inline-block;
    top: 40px;
    width: 70px;
    margin: 0 40px 0 40px;
    background-color: #FAFAFA;
    border: solid #839192 3px;
    border-radius: 5px;
}

/*.sprite-fb {*/
    /*width: 45px;*/
    /*height: 45px;*/
    /*background-position: -5px -5px;*/
/*}*/

.sprite-play {
    display: inline-block;
    margin: 2px 0 2px 0;
    background-image: url(spritesheet.png);
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-position: -60px -45px;
}

.sprite-reset {
    display: inline-block;
    vertical-align: middle;
    margin: 2px 0 2px 0;
    background-image: url(spritesheet.png);
    width: 30px;
    height: 30px;
    background-position: -5px -85px;
}

.borderMove {
     height: 36px;
     width: 71px;
     position: absolute;
     top: -3px;
     left: -3px;
     z-index: 2;
     border: solid #a8b5e9 2px;
     border-radius: 5px;

 }
/*.button:hover {*/
    /*box-shadow: -5px -5px 0.1em #0e1b1d;*/
/*}*/


/*.playButton {*/
    /*background: linear-gradient(hsla(136, 64%, 87%, 1), hsla(136, 64%, 57%, 1));*/
/*}*/


.resetButton:active {
    background: linear-gradient(hsla(70, 64%, 57%, 1), hsla(70, 64%, 81%, 1));
}

.resetButton {
    background: linear-gradient(hsla(70, 64%, 87%, 1), hsla(70, 64%, 57%, 1));
}



