header.page-header {
    position: relative;
    text-align: center;
    z-index: 5;
    width: auto;
    font-size: 26pt;
    min-height: 35px;
    padding: 20px;
    color: white;
    background-color: #2e2c3e;
    box-shadow: 0 0 5px 0 #333333;
}

footer.page-footer {
    min-height: 50px;
    width: auto;
    padding: 20px;
    font-size: 14px;
    color: hsl(0,0%,99%);
    background-color: hsl(0,0%,12%);;

}

body {
    margin: 0;
    padding: 0;
    background-color: #333333;
}
.settingsText {
    width: 30%;
    float: left;
}
.settingsRange {
    width: 70%;
    float: right;
}


.sortPlace {
    width: 700px;
    margin: auto;
}
.mainPage {
    padding: 100px;
    width: auto;
    margin: auto;
    // background-color: #FFFFFF;
    background:  linear-gradient(to bottom, hsla(0, 0%, 100%, 0.2), hsla(0, 0%, 100%, 1)), linear-gradient(to left, hsla(191, 100%, 86%, 1), hsla(77, 100%, 86%, 1));
}