$faded: #e9ecef;
$accept-normal: #007dff;
$accept-hover: #0058ff;
$accept-pressed: #0011fe;
$decline-hover: #dde0e3;
$decline-pressed: #c7cdd3;
$decline-disabled: #e2e5e8;

$label-faded: #858E98;
$tile-hover: #98a9b9;
$tile-pressed: #8594a2;

$event-track: #d5dfe9;
$event-track-hover: #98a9b9;
$event-track-pressed: #8594a2;